//Mobile Styles
@media screen and (max-width: 960px) {
  .homepageContainer {
    display: grid;
    place-content: center;
    padding: 2rem 0;
    grid-template-rows: minmax(100px, auto) minmax(100px, auto);
    width: 80%;
    margin: 0 auto;
    max-width: 600px;

    .homeslider {
      // not ideal ... slider width over full body width on mobile :/
      width: 125%;
      margin-left: -12.5%;
    }
  }

  .firmNameMain {
    color: var(--darkGreyColor);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  .slogan {
    font-size: 2.2em;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    position: relative;
  }

  .slogan::after {
    content: url("../../../assets/svg/underlines/line1.svg");
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1.1rem;
    z-index: -1;
  }

  .button {
    display: grid;
    place-content: center;
    padding: 1rem;
  }

  .homeslider {
    overflow-x: hidden !important;
  }
}
