//Desktop Styles
@media screen and(min-width:960px) {
  // library won´t let me overwrite or adjust size of navigation
  .splide__arrow {
    height: 5rem !important;
    width: 5rem !important;
    background-color: transparent !important;
    font-size: 2rem !important;
    transition: 0.1s ease;
    &:active {
      font-size: 2.15rem !important;
    }
  }

  .slideCardContainer {
    min-height: 400px;

    display: grid;
    place-content: center;
  }

  .cardLink {
    text-decoration: none;
    color: black;
  }

  .servicesCard {
    background: white;
    width: 750px;
    height: 300px;
    box-shadow: 0px 0px 3px var(--shadowColor);
    position: relative;
    border-radius: 5px;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    transition: 0.3s;

    &:hover {
      box-shadow: 0px 0px 6px var(--shadowColor);
    }
  }

  .galleryImageTop {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
    grid-row: 1/3;
    place-self: center;

    box-shadow: 0px -2px 5px var(--shadowColor);
  }

  .galleryCardTitle {
    font-weight: 600;
    text-transform: uppercase;
    justify-self: center;
    align-self: end;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }
  .galleryCardText {
    justify-self: center;
    text-align: center;
  }
}

//Mobile Styles
@media screen and(max-width:960px) {
  // library won´t let me overwrite or adjust size of navigation
  .splide__arrow {
    height: 5rem !important;
    width: 5rem !important;
    background-color: transparent !important;
    font-size: 2rem !important;
    transition: 0.1s ease;
    &:active {
      font-size: 2.15rem !important;
    }
  }

  .slideCardContainer {
    min-height: 400px;
    width: auto;

    display: grid;
    place-content: center;
  }

  .cardLink {
    text-decoration: none;
    color: black;
  }

  .servicesCard {
    background: white;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 5px var(--shadowColor);
    position: relative;
    border-radius: 40px;
  }

  .galleryImageTop {
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px -2px 5px var(--shadowColor);
  }

  .galleryCardTitle {
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  .galleryCardText {
    position: absolute;
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
